# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
out

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Prisma
prisma/*.db
prisma/*.db-journal

# Docker
.docker
